body {
    background:linear-gradient(to bottom right, rgb(192, 192, 191), rgb(207, 124, 76), rgb(55, 89, 182));
    background-size: auto; 
    background-position: center;
    padding: 20;
    font-family: Arial, sans-serif;
    margin: 20px;
    background-repeat: no-repeat;
}
 h1 {
    text-align: center;
    color: blue;
    text-shadow: 3px 3px 3px black; 
        }
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 2px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}
 
.delete-btn:hover {
    background-color: #c0392b;
}
nav {
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 3px black;
    border-radius: 10px;
    padding: 20px;
    background-color: #5992e9;
      }
.button {
        background-color: #1c27c9;
        border-radius: 10px;
        border: none;
        color: white;
        padding: 15px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 5px 10px;
        cursor: pointer;
        width: 40%;
        box-shadow: 3px 3px 3px black; 
      }
p,nav {
            margin-left: 20px;
            margin-right: 20px;
        }
        h2 {
            text-align: center;
        }
        th {
            background-color: rgb(98, 98, 230);
        }
fieldset{
    background:linear-gradient(to bottom right, rgb(192, 192, 191), rgb(51, 35, 26), rgb(28, 58, 141));
    border-radius: 10px;
    width: 60%;
    height: 50%;
    padding-top: 20px;
    padding-left: 20px;
    box-shadow: 3px 3px 3px black;
}
.btn-form {
    border: 0;
    line-height: 2.1;
    font-size: 0.8rem;
    text-align: center;
    margin-right: 5px;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(25, 25, 255, 1);
    background-image: linear-gradient(to top left,rgba(0, 0, 0, 0.2),
   rgba(0, 0, 0, 0.2) 30%, rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6), inset -2px -2px 3px rgba(0, 0, 0, 0.6);
    width: 100px;
    margin-top: 4%;
}
.btn-form:hover {
 background-color: rgb(159, 158, 160);
}

.btn-form:active {
 box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
   inset 2px 2px 3px rgba(0, 0, 0, 0.6);
   }
input {
    border-radius: 7px;
    height: 25px;
    width: auto;
}
