body {
    background:linear-gradient(to bottom right, rgb(192, 192, 191), rgb(207, 124, 76), rgb(55, 89, 182));
    background-size: cover; 
    background-position: center;
    padding: 20;
    font-family: Arial, sans-serif;
    margin: 20px;
}
 h1 {
    text-align: center;
    color: blue;
        }
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 2px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.delete-btn {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3px;
}
 
.delete-btn:hover {
    background-color: #c0392b;
}
nav {
    display: flex;
    flex-direction: column;
    border: 2px solid ;
    border-radius: 10px;
    padding: 20px;
    background-color: #5992e9;
      }
.button {
        background-color: #1c27c9;
        border-radius: 10px;
        border: none;
        color: white;
        padding: 15px 34px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 5px 10px;
        cursor: pointer;
      }
p,nav {
            margin-left: 20px;
            margin-right: 20px;
        }
        nav {
            text-align: center;
        }
        

