<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulaire d'emprunt d'un livre</title>
</head>
<body>
    <h1>Emprunter un livre</h1>
    <form action="/emprunter_livre/{{ livre[0] }}" method="POST">
        <fieldset>
                 <legend><i>Merci de completer le formulaire pour l'emprunt du livre :</i></legend>
        <label for="ID_user">Numéro utilisateur :</label>
         <input type="text" id="ID_user" name="ID_user" required><br> 
        <label for="date">Date retour :</label>
         <input type="date" id="Date_retour_prevue" name="Date_retour_prevue" required><br>
        
        <button class="btn-form" type="submit">Valider</button>
            </fieldset>
    </form>
</body>
</html>
