<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/styles.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Flask Server</title>
  </head>
<body>
  <h1>Bienvenu Ali sur ton serveur de bases de données !</h1>
     <h1 class="biblio">Géstion Bibliothèque</h1>
    <div class="contener-2">  
    <nav>
      <a href="/templates/intro.html" class="button">Introduction</a>

        <h3><i>Géstion des Clients:</i></h3>
         <a href="https://alilouducnam.alwaysdata.net/consultation" class="button" target="_blank">Liste des Clients</a>
        
        <h3><i>Géstion des Livres:</i></h3>
        <a href="https://alilouducnam.alwaysdata.net/livres" class="button" target="_blank">Liste des livres</a>
    
        <h3><i>Géstion des Utilisateurs:</i></h3>
        <a href="https://alilouducnam.alwaysdata.net/utilisateurs" class="button" target="_blank">Liste des utilisateurs</a>
       
        <h3><i>Géstion des Emprunts:</i></h3>
        <a href="https://alilouducnam.alwaysdata.net/livres_disponibles" class="button" target="_blank">Livres disponibles pour emprunts</a>
        <a href="https://alilouducnam.alwaysdata.net/livres_empruntés" class="button" target="_blank">Liste des livres empruntés et leurs retours</a>
        <a href="https://alilouducnam.alwaysdata.net/retourner_livre" class="button" target="_blank">Enregister le retour d'un livre</a>
    </nav>
        
    </div>
    <br>
   

</body>
</html>
