<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Flask Server</title>
  </head>
<body>
  <h1>Bienvenu Ali sur ton serveur de bases de données !</h1>
     <h1 class="biblio">Géstion Bibliothèque</h1>
    <div>  
    <nav>
        
        <h3><i>Géstion des Clients:</i></h3>
         <a href="https://alilouducnam.alwaysdata.net/consultation" class="button" target="_blank">Liste des Clients</a>
        
        <h3><i>Géstion des Livres:</i></h3>
        <a href="https://alilouducnam.alwaysdata.net/livres" class="button" target="_blank">Liste des livres</a>
    
        <h3><i>Géstion des Utilisateurs:</i></h3>
        <a href="https://alilouducnam.alwaysdata.net/utilisateurs" class="button" target="_blank">Liste des utilisateurs</a>
       
        <h3><i>Géstion des Emprunts:</i></h3>
        <a href="https://alilouducnam.alwaysdata.net/livres_disponibles" class="button" target="_blank">Livres disponibles pour emprunts</a>
        <a href="https://alilouducnam.alwaysdata.net/livres_empruntés" class="button" target="_blank">Liste des livres empruntés et leurs retours</a>
        <a href="https://alilouducnam.alwaysdata.net/retourner_livre" class="button" target="_blank">Enregister le retour d'un livre</a>
    </nav>
        <img src="Library-1.jpg" class="Library-2"  alt="image d'une librairie" />
        
    </div>
    <br>
   
<p>Ce serveur contient une base de données des clinets, et d'une bibliothèque moderne qui simplifie le processus de prêt et de retour de livres.<br/>
  Les fonctionnalités attendues dans le cadre de ce projet sont les suivantes :</p>
  <ol>
    <li>L’enregistrement et la suppression de livres.</li>
    <li>La recherche de livres disponibles.</li>
    <li>L'emprunt possible d'un livre par un utilisateur.</li>
    <li>La gestion des utilisateurs.</li>
    <li>La gestion des stocks.</li>
  </ol>
  <p> Avec un contrôle d'accès Utilisateur/Administrateur.<br/>
L’application pourra être enrichie avec des fonctionnalités supplémentaires telles que des recommandations de livres,<br/> 
    des notifications pour les retours en retard, ou encore des rapports statistiques sur l'utilisation des livres <br/>
    pour améliorer l'expérience utilisateur et la gestion de la bibliothèque.</p>
</body>
</html>
