<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Livres Disponibles</title>
</head>
<body>
    <h1>Livres Disponibles</h1>
    <ul>
    {% for livre in livres %}
        <li>{{ livre[1] }} par {{ livre[2] }} - {{ livre[4] }} exemplaire(s) disponible(s)
            <form action="/emprunter_livre/{{ livre[0] }}" method="POST">
                <input type="hidden" name="ID_user" value="1"> <!-- ID utilisateur doit être dynamique -->
                <button type="submit">Emprunter</button>
            </form>
        </li>
    {% endfor %}
    </ul>
</body>
</html>
