<!DOCTYPE>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Livres Disponibles</title>
</head>
<body>
    <h1>Liste des Livres Disponibles</h1>
    
    <table id="myTable">
       <thead>
            <tr bgcolor="yellow">
                <th>Titre</th>
                <th>Auteur</th>
                <th>Quantité disponible</th>
                <th>Epmrunts</th>
            </tr>
        </thead>
        <tbody>
             {% for livre in livres %}
        <tr>
            <td>{{ livre[1] }}</td>
            <td>{{ livre[2] }}</td>
            <td>{{ livre[4] }}</td>
            <td>
                <a class="btn-form" href="emprunter_livre.html">Emprunter</a>
            </td>
        </tr>
        {% endfor %}     
        </tbody>   
    </table>
</body>
</html>
