<!DOCTYPE>
<html lang="fr">
    {% extends "hello.html" %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    {% block title %}Utilisateurs{% endblock %}
</head>
<body>
    {% block content %}
    <h1>Gestion des Utilisateurs</h1>
    <h2><i>Ajouter un nouvel utilisateur</i></h2>
    <a class="button-1" href="{{ url_for('enregistrer_user') }}">Ajouter</a>
    <h2><i>Liste des Utilisateurs</i></h2>
     <!-- Formulaire de recherche -->
    <form action="{{ url_for('search_users') }}" method="get">
        <input type="text" name="query" placeholder="Rechercher un livre">
        <input class="btn-form" type="submit" value="Rechercher">
    </form>
    <table id="myTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Adresse</th>
            <th>Date_inscription</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for row in data %}
       <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>
            <form action="{{ url_for('delete_user', ID_user=row[0]) }}" method="get">
            <button class="delete-btn">Supprimer</button>
                </form>
            </td>
        </tr>
        {% endfor %}     
        </tbody>   
    </table>
    {% endblock %}
     
</body>
</html>
