<!DOCTYPE>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Clients</title>
</head>
<body>
    <h1>Liste des Clients</h1>
    <table id="myTable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Création</th>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Adresse</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {% for client in clients %}
        <tr>
            <td>{{ client[0] }}</td>
            <td>{{ client[1] }}</td>
            <td>{{ client[2] }}</td>
            <td>{{ client[3] }}</td>
            <td>{{ client[4] }}</td>
            <td>
            <form action="{{ url_for('delete_client', client_id=client[0]) }}" method="post">
            <button class="delete-btn">Supprimer</button>
                </form>
            </td>
        </tr>
        {% endfor %}     
        </tbody>   
    </table>
     <a href="{{ url_for('formulaire_client') }}">Ajouter un nouveau client</a>
</body>
</html>
