<!DOCTYPE>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>Livres</title>
</head>
<body>
    <h1>Liste des livres</h1>
     <!-- Formulaire de recherche -->
    <form action="{{ url_for('search_livres') }}" method="get">
        <input type="text" name="query" placeholder="Rechercher un livre">
        <input type="submit" value="Rechercher">
    </form>
    <table id="myTable">
       <thead>
            <tr bgcolor="yellow">
                <th>ID</th>
                <th>Titre</th>
                <th>Auteur</th>
                <th>Année de publication</th>
                <th>Quantité</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
             {% for row in data %}
        <tr>
            <td>{{ row[0] }}</td>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>
                <form action="{{ url_for('delete_livre', post_ID_livre=row[0]) }}" method="post">
            <button class="delete-btn">Supprimer</button>
                </form>
            </td>
        </tr>
        {% endfor %}     
        </tbody>   
    </table>
     <a class="button" href="{{ url_for('formulaire_livre') }}">Ajouter un nouveau livre</a>
</body>
</html>

